[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
sphinx = "*"
black = "==19.10b0"

[packages]
pd_logging = {editable = true,path = "."}
pdlog = {editable = true,path = "."}
pandas_log = {editable = true,path = "."}
pandas = "*"
pandas-flavor = "*"
humanize = "*"

[requires]
python_version = "3.7"
